@tailwind base;
@tailwind components;
@tailwind utilities;

/* archivo-regular - latin */
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../src/assets/fonts/archivo-v16-latin/archivo-v16-latin-regular.woff2")
      format("woff2"),
    url("../../src/assets/fonts/archivo-v16-latin/archivo-v16-latin-regular.woff")
      format("woff"),
    url("../../src/assets/fonts/archivo-v16-latin/archivo-v16-latin-regular.ttf")
      format("truetype");
}

/* archivo-500 - latin */
@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../../src/assets/fonts/archivo-v16-latin/archivo-v16-latin-500.woff2")
      format("woff2"),
    url("../../src/assets/fonts/archivo-v16-latin/archivo-v16-latin-500.woff")
      format("woff"),
    url("../../src/assets/fonts/archivo-v16-latin/archivo-v16-latin-500.ttf")
      format("truetype");
}

/* inter-400 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../src/assets/fonts/inter/inter-regular.ttf") format("truetype");
}

/* inter-500 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../../src/assets/fonts/inter/inter-medium.ttf") format("truetype");
}

/* inter-600 */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../../src/assets/fonts/inter/inter-semibold.ttf") format("truetype");
}

@layer base {
  html {
    font-family: "Archivo", Arial, Helvetica, sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root:has(.no-scroll) {
  overflow: hidden;
}
